@import "foundation";
@import "foundation/components/offcanvas";

#taskbar {

  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: rgba(0,0,0,0.3);

  input {
    background-color: transparent;
    color: rgba(255,255,255,0.8);
    border: none;
    font-size: 20px;

    &::-webkit-input-placeholder {
       color: rgba(255,255,255,0.5);
    }

    &:-moz-placeholder { /* Firefox 18- */
       color: rgba(255,255,255,0.5);
    }

    &::-moz-placeholder {  /* Firefox 19+ */
       color: rgba(255,255,255,0.5);
    }

    &:-ms-input-placeholder {
       color: rgba(255,255,255,0.5);
    }
  }
}

body {

  &.good {
    background-color: #2ecc71;

    #taskbar {
      background-color: #27ae60;
    }
  }

  &.ok {
    background-color: #f1c40f;

    #taskbar {
      background-color: #f39c12;
    }

  }

  &.notgood {
    background-color: #e74c3c;

    #taskbar {
      background-color: #c0392b;
    }
  }
}


ul.tasks {

  list-style: none;
  padding-left: 0px;
  margin-left: 0px;


  li {
      list-style: none;
      padding: 10px 0;
      border-top: 1px solid rgba(0,0,0,0.2);
      color: rgba(0,0,0,0.8);
  }
}

h4 {
  text-transform: uppercase;
  letter-spacing: rem-calc(5px);
  font-size: rem-calc(15px);
  //text-align: center;
  color: rgba(0,0,0,0.5);
}
